<!-- templates/home.html -->
{% extends 'base.html' %}
    {% block content %}
    <form method="GET">
        {{ filter.form }}
        <button type="submit" class="btn btn-primary">submit</button>
    </form>

        {% for client in filter.qs %}
            <div class="post-entry">
            <h2><a href="{% url 'client_detail' client.pk %}">{{ client.first }} {{ client.last }}</a></h2>
                <h3><a href="{% url 'edit_client' client.pk %}">Edit</a>     <a href="{% url 'delete_client' client.pk %}">Delete</a></h3>
            </div>
        {% endfor %}
    {% endblock content %}